.headers{
  font-size: 2em;
  margin: auto;
}

.card {
  width: 40em;
  margin: auto;
    margin-top: auto;
  margin-top: 3em;
}

.form-select[multiple], .form-select[size]:not([size="1"]) {
  padding-right: 0.75rem;
  background-image: none;
  height: 6em;
}